.chatbot-content {
  background-color: #01274D;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.chatbot-messages {
  max-height: 300px; /* Ajusta la altura según sea necesario */
  overflow-y: auto; /* Permite el desplazamiento vertical */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.chatbot-messages::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome, Safari, y Opera */
}

.message.user {
  text-align: right;
  color: #f7ea05;
  margin: 5px 0;
}

.message.bot {
  text-align: left;
  margin: 5px 0;
}

.chatbot-menu select,
.client-menu select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.chatbot-input {
  display: flex;
  gap: 10px;
}

.chatbot-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.chatbot-input button {
  padding: 10px 20px;
  background-color: #337BC2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatbot-input button:hover {
  background-color: #29CFC5;
}
