/* Estilo del Footer con Glassmorphism */
.app-footer {
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    backdrop-filter: blur(10px); /* Desenfoque */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra */
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre íconos */
    margin-bottom: 10px;
}

.footer-icons a {
    color: #29CFC5; /* Azul Tiffany */
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons a:hover {
    color: #FFFFFF; /* Blanco */
    transform: scale(1.2); /* Aumenta ligeramente el tamaño */
}

.footer-bottom {
    font-size: 14px;
    margin-top: 10px;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .footer-icons {
        gap: 15px; /* Reducir espacio entre íconos */
    }

    .footer-bottom {
        font-size: 12px;
    }
}
