/* Estilo del Footer con Glassmorphism */
.app-footer {
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido para efecto glassmorphism */
    backdrop-filter: blur(10px); /* Desenfoque */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    color: #FFFFFF; /* Color del texto */
    text-align: center;
    padding: 30px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.app-footer p {
    margin: 10px 0;
    font-size: 16px;
}

.app-footer a {
    color: #29CFC5; /* Azul Tiffany */
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.app-footer a:hover {
    color: #FFFFFF; /* Blanco */
}

/* Asegurar que el contenido empuje el footer hacia abajo */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que todo ocupe la altura de la ventana */
}

.main-content {
    flex: 1; /* Empuja el footer hacia abajo */
}
