/* src/components/ForgotPassword.css */

.forgot-password-container {
    background: url('../assets/background.jpg') no-repeat center center;
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
    padding: 20px;
    box-sizing: border-box;
    backdrop-filter: blur(10px); /* Aplicar el efecto glassmorphism */
}

.forgot-password-box {
    background-color: rgba(51, 123, 194, 0.7); /* Color Azure con opacidad para el efecto glassmorphism */
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(8px);
}

.forgot-password-box h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--color-blanco);
    font-family: 'Orbitron', sans-serif; /* Fuente para los títulos */
}

.forgot-password-box p {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--color-blanco);
    font-family: 'Roboto', sans-serif; /* Mantén coherencia con las fuentes */
}

.forgot-password-input {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid var(--color-blanco);
    padding-left: 10px;
    font-size: 16px;
    color: var(--color-azul-navy);
    box-sizing: border-box;
    backdrop-filter: blur(3px);
}

.forgot-password-button {
    width: 100%;
    height: 50px;
    background-color: var(--color-amarillo-canario);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: var(--color-blanco);
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

.forgot-password-button:hover {
    background-color: var(--color-azul-tiffany); /* Cambio al color Tiffany al hacer hover */
    color: var(--color-blanco); /* Cambia el color del texto */
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
}

.success {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.back-to-login {
    margin-top: 20px;
    font-size: 16px;
    color: var(--color-blanco);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.back-to-login:hover {
    color: var(--color-azul-tiffany);
    text-decoration: underline;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .forgot-password-container {
        padding: 15px;
    }

    .forgot-password-box {
        width: 90%; /* Asegura que el contenido se ajuste mejor a pantallas pequeñas */
        padding: 20px;
    }

    .forgot-password-box h2 {
        font-size: 20px;
    }

    .forgot-password-box p {
        font-size: 16px;
    }

    .forgot-password-input {
        height: 40px;
    }

    .forgot-password-button {
        height: 45px;
        font-size: 18px;
    }
}
