/* src/components/Header.css */

.app-header {
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    position: sticky; /* Hace que el header se quede fijo al hacer scroll */
    top: 0;
    width: 95%; /* Asegura que ocupe todo el ancho */
    max-width: 100vw; /* Evita que se corte en algunos tamaños de pantalla */
    font-family: 'Orbitron', sans-serif;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

.logo-img {
    height: 50px; /* Ajustado para un diseño más compacto */
    margin-right: 15px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Aumentado para dar más espacio entre los enlaces */
    margin: 0;
    padding: 0;
}

.nav-links li {
    font-size: 18px;
    font-weight: 500; /* Aumentado para mayor legibilidad */
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: #592bef; 
    color: #01274D; /* Azul Navy */
}

.link-button {
    background: none;
    border: none;
    color: #ffffff; /* Color similar al de los enlaces */
    cursor: pointer;
    font-size: inherit;
    padding: 0;
}

.link-button:hover {
    text-decoration: background-color 0.3s ease, color 0.3s ease;
}

